<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Category</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
    </script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
    </style>
</head>
<body>
<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
            <h2 class="text-2xl font-bold text-gray-900">Collections</h2>

            <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                <div class="group relative">
                    <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="https://jokerandwitch.com/cdn/shop/files/JWJ2295_1_540x.jpg?v=1707370162" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                        <a href="#">
                            <span class="absolute inset-0"></span>
                            Bracelets
                        </a>
                    </h3>
                    <p class="text-base font-semibold text-gray-900"> accessories</p>
                </div>
                <div class="group relative">
                    <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="https://jokerandwitch.com/cdn/shop/products/JHBGF12_2_360x.jpg?v=1671101669" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                        <a href="#">
                            <span class="absolute inset-0"></span>
                            accessories
                        </a>
                    </h3>
                    <p class="text-base font-semibold text-gray-900">Journals and note-taking</p>
                </div>
                <div class="group relative">
                    <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                        <img src="https://jokerandwitch.com/cdn/shop/products/JWJSET545_1_360x.jpg?v=1656077078" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
                    </div>
                    <h3 class="mt-6 text-sm text-gray-500">
                        <a href="#">
                            <span class="absolute inset-0"></span>
                            accessories
                        </a>
                    </h3>
                    <p class="text-base font-semibold text-gray-900">Daily commute essentials</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <a th:href="@{/admin/categories/add}" style="" class="text-blue-600 visited:text-purple-600"> Add Category</a>
    <table class="table-auto">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Sold</th>
            <th>Stock</th>
            <th>Added</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${category.name}">Watch</td>
            <td th:text="${category.sold}">233</td>
            <td th:text="${category.stock}">33</td>
            <td th:text="${category.added}">24 jun 2023</td>
            <td><a href="" th:href="@{/admin/categories/delete/{id}(id=${category.id)}"/> Delete</td>
            <td><a href="" th:href="@{/admin/categories/update/{id}(id=${category.id)}"/> Update</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>